@use '@/shared/styles' as *;

$icon-size: 36px;
$icon-size-tablet: 24px;

.root {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: start;
  gap: 8px;

  &.clickable {
    @include interactable;
  }
}

.icon {
  width: $icon-size;
  height: $icon-size;
}

.content {
  display: grid;
  gap: 4px;
}

.title {
  @include text-truncate;

  font-size: 14px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-white);

  line-height: 1;
}

.description {
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  color: #96999D;
}

@include respond-to('tablet') {
  .root {
    grid-template-columns: $icon-size-tablet 1fr;
  }

  .icon {
    width: $icon-size-tablet;
    height: $icon-size-tablet;
  }
}