@use "@styles/_variables.scss" as *;
@use "@styles/_mixins.scss" as *;
@use "@styles/_media.scss" as *;

.root {
  @include flex-center;
  @include interactable;
  @include reset-mobile-interactions;

  position: relative;
  gap: var(--space-s);

  padding: 10px 24px;

  border: 2px solid #0e1422;
  outline: 2px solid #fdca66;
  border-radius: 2px;
  background-color: var(--color-primary);

  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-extrabold);
  color: #000E1F;

  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  &:focus,
  &:focus-visible {
    border: 2px solid #0e1422;
    outline: 2px solid #fdca66;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    outline: 2px solid color-mix(in srgb, #fdca66 50%, transparent);
    opacity: 0.75;
  }

  &:active:not(:disabled) {
    opacity: 0.8;
  }
}

.state {
  &__loading {
    pointer-events: none;

    .content {
      opacity: var(--opacity-loading);
    }
  }

  &__disabled {
    opacity: var(--opacity-disabled);
    pointer-events: none;
  }
}