@use '@/shared/styles' as *;

.root {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--space-xl);

  height: -webkit-fill-available;
}

.aside {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: start;
  gap: var(--space-l);

  .playerSkinCarousel {
    align-self: center;
  }

  .playerSkinOverview {
    align-self: start;
    margin-block-start: 235px;
  }
}

@include respond-to('laptop', 'tablet') {
  .playerSkinSplash {
    min-width: 50vw;

    img {
      scale: 1.05;
    }
  }

  .aside {
    @include flex-container(column, start, start);

    flex-direction: column-reverse;

    width: 100%;

    .playerSkinCarousel {
      position: fixed;
      left: -25%;
      bottom: 60px;
    }

    .playerSkinOverview {
      width: 60vw;
      margin-block-start: 180px;
      margin-inline-start: -10vw;
    }
  }
}

@include respond-to('tablet') {
  .root {
    @include flex-container(column, end, start);

    width: -webkit-fill-available;

    margin-top: 120px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
    }
  }

  .playerSkinSplash {
    img {
      width: 85%;
    }
  }

  .aside {
    position: fixed;
    left: 0;
    bottom: 60px;
    z-index: 1;

    @include flex-container(column, start, start);

    flex-direction: column-reverse;

    width: 100%;
  }
}

@include respond-to('mobile') {
  .playerSkinSplash {
    top: -15vh;

    img {
      --player-skin-splash-mask-opacity: 0;
      --player-skin-splash-mask-coverage: 20%;

      width: 95%;
      max-height: 600px;

      scale: 1.25;

      -webkit-mask-image: linear-gradient(to bottom,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) var(--player-skin-splash-mask-coverage),
          rgba(0, 0, 0, var(--player-skin-splash-mask-opacity)) 100%);
      mask-image: linear-gradient(to bottom,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) var(--player-skin-splash-mask-coverage),
          rgba(0, 0, 0, var(--player-skin-splash-mask-opacity)) 100%);
    }
  }

  .aside {
    gap: 16px;

    bottom: 16px;
  }
}