@use '@/shared/styles' as *;

.container {
  @include flex-container(row, flex-start, center);

  gap: 12px;

  padding: var(--space-s) var(--space-m);

  color: var(--color-white);
}

.level {
  @include flex-center;

  font-size: 38px;
  font-weight: var(--font-weight-extrabold);
  color: var(--color-primary);
}

.info {
  display: grid;
  gap: 4px;
}

.dash {
  @include flex-container(row, center, center);

  scale: 1.25;
}

.name {
  font-size: 28px;
  font-weight: var(--font-weight-extrabold);
  color: var(--color-primary);

  letter-spacing: 0.5px;
  white-space: nowrap;
  line-height: 1;
}

.rank {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);

  white-space: nowrap;
  line-height: 1;
  opacity: 0.65;
}

@include respond-to('desktop', 'tablet') {
  .container {
    @include fluid-scale(0.5, 1, 320px, 1440px, left);

    gap: 6px;

    padding: var(--space-xs) var(--space-s);
  }
}

@include respond-to('tablet') {
  .root {
    gap: 0;

    padding: 0;
  }

  .level {
    font-size: 20px;
  }

  .dash {
    scale: 0.45;
  }

  .name {
    display: none;
  }

  .rank {
    font-size: 12px;
    opacity: 1;
  }
}